/*================== 5, About =================*/

.about {
    padding: 144px 36px 0;
    background: linear-gradient(to left, #6442ff 0%, #9012fe 100%);
    position: relative;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-attachment: fixed;
    @include breakpoint(992) {
        padding-top: 108px;
    }
    &:after {
        position: absolute;
        content: "";
        top: 0;
        height: 100%;
        width: 100%;
        left: 0;
        background: url(../images/texture-geometric-shapes-colors-min-uai-1440x798.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-attachment: fixed;
    }
    &__title {
        &-head {
            font-weight: 1000;
            font-size: 35px;
            line-height: 1;
            letter-spacing: -0.02em;
            margin-bottom: 20px;
        }
        &-info {
            font-weight: 300;
            font-size: 20px;
            letter-spacing: -0.02em;
            line-height: 1.5;
            @include breakpoint(320) {
                font-size: 24px;
            }
        }
    }
    &__img {
        display: block;
        position: relative;
        margin: auto;
        transform: translateY(24%);
        z-index: 99;
        box-shadow: 0 55px 80px -40px rgba(0, 0, 0, 0.45);
        &>img {
            display: block;
            width: 100%;
            border-radius: 4px;
            background-clip: padding-box;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            border: 0;
        }
        &-link {
            display: block;
            position: absolute;
            top: 43.1%;
            left: 46.4%;
            background-color: white;
            width: 80px;
            height: 80px;
            border-radius: 2.5em;
            box-shadow: 0 0 0 0.25em rgba(255, 255, 255, 0.1);
            font-size: 3em;
            transition: 0.5s;
            @include breakpoint(768) {
                width: 1.5em;
                height: 1.5em;
                top: 40%;
            }
            @include breakpoint(425) {
                width: 60px;
                height: 60px;
                top: 32%;
                left: 41.5%;
            }
            @include breakpoint(375) {
                width: 40px;
                height: 40px;
                top: 35%;
                left: 43%;
            }
            &:hover {
                transform: scale(1.5);
            }
            .about-icon {
                color: #303133;
                &>i {
                    font-size: 0.7em;
                    position: relative;
                    z-index: 1;
                    @include breakpoint(768) {
                        font-size: 0.5em;
                    }
                    @include breakpoint(375) {
                        font-size: 0.3em;
                    }
                }
            }
        }
    }
}