/*============ 6, Brand ==============*/
.brand {
  margin-top: 125px;
  background-color: #fff;
  padding: 72px 36px;
  position: relative;
  margin-left: 36px;
  margin-right: 36px;
  @include breakpoint(576) {
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
}
