// Start About
.about.w-100
    .container
        .about__title.text-center.text-white
            h3.about__title-head.f-q A complete digital toolkit
            h4.about__title-info.f-q
                | We makes it easy for businesses and marketing teams to manage your social account in a single place.
        .about__img.w-100
            img(src='https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2019/08/image-from-rawpixel-id-597979-min-uai-1440x810.jpg' data-guid='https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2019/08/image-from-rawpixel-id-597979-min.jpg' data-path='2019/08/image-from-rawpixel-id-597979-min.jpg')
            a.about__img-link(data-fancybox='slide' href='https://d3f86pfw66amx.cloudfront.net/uncode/wp-content/uploads/2019/09/uncode-frontend-demo.mp4')
                span.icon-automatic-video-outer-bg
                    .about-icon.w-100.h-100.align-items-center.d-flex.justify-content-center
                        i.fa.fa-play
