// Start Banner
.banner.w-100.d-flex.align-items-center.justify-content-center.f-q
    .container
        .row
            .col-sm-6.banner__left.align-item.text-white
                h3.banner__left-title THINK, DESIGN &amp; CREATE
                h1.banner__left-info We grow your business with tools &amp; services
                h2.banner__left-text
                    | Wanna start moving things in the right direction? Tell us what you want to achieve...
                a.banner__left-button.f-q(href='') Buy Uncode
            .col-sm-6.banner__right.d-flex.align-item
                .banner__right-img.h-100
                    img(src='images/isometric-icons-online-education-blob-min-uai-516x516.png' alt='')
