// Brand
.brand
    .container
        .brand__sources.owl-carousel.owl-theme
            .brand__box
                a(href='')
                    img(src='images/logo-airbnb-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-ebay-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-envato-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-google-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-mailchimp-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-microsoft-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-samsung-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-yahoo-min-uai-258x116.png' alt='')
            .brand__box
                a(href='')
                    img(src='images/logo-youtube-min-uai-258x116.png' alt='')
