// Start Design
.design.f-q.w-100.d-flex.align-items-center.justify-content-center
    .container
        .row
            .col-lg-5.col-sm-6.design__left.d-flex.h-100
                .design__img.h-100
                    img(src='images/isometric-icons-data-collection-blob-min-uai-516x516.png' alt='')
            .col-lg-7.col-sm-6.design__right.align-items-center
                h5.design-for FOR DESIGNERS
                h3.design-title Design and build the design you need fast and accurate online
                p.design-text
                    | Improve users&rsquo; experiences by understanding who they are and how they engage. Collect data throughout the user journey, integrating online and offline datasets across devices to create a holistic view. Identify which campaigns drive the most engagement.
                .design-data
                    .row
                        .col-lg-4
                            .design-data__number
                                span.data__number-item.counters(data-target="75") 0
                                span %
                        .col-lg-4
                            .design-data__number
                                span.data__number-item.counters(data-target="85") 0
                                span %
                        .col-lg-4
                            .design-data__number
                                span.data__number-item.counters(data-target="95") 0
                                span %
