// Start Developers
.develop.f-q.w-100.d-flex.align-items-center.justify-content-center
    .container
        .row
            .col-lg-7.col-sm-6.develop__left.align-items-center
                h5.develop-for FOR DEVELOPERS
                h3.develop-title Easily create and manage great looking contents for your site
                p.develop-text
                    | Improve users&rsquo; experiences by understanding who they are and how they engage. Collect data throughout the user journey, integrating online and offline datasets across devices to create a holistic view. Identify which campaigns drive the most engagement.
                .develop-data.d-none.d-lg-flex
                    .data-progress.f-q Progress
                    .data-progress.f-q 80%
                .data-bar
                    .bar__pink.h-100
            .col-lg-5.col-sm-6.develop__right.d-flex.h-100
                .develop__img.h-100
                    img(src='images/isometric-icons-web-development-min-uai-516x516.png' alt='')
