// Start Price
.price.w-100
    .container
        .row
            .col-lg-12.d-md-flex.mt-144
                .price__item.f-q
                    .price__item-money $19
                    .price__item-time MONTHLY PLAN
                    .price__item-text
                        | This is a demo: rapidiously enhance high-quality best practices for parallel human capital. Conveniently e-enable bricks-and-clicks.
                    a.price__item-button(href='') Subscribe Now
                .price__item.f-q
                    .price__item-money $159
                    .price__item-time ANNUAL PLAN
                    .price__item-text
                        | This is a demo: dramatically streamline mission-critical schemas whereas extensible value. Synergistically underwhelm magnetic.
                    a.price__item-button(href='') Subscribe Now
