.service
    .container
        .row
            .col-lg-4.col-md-4.service__box.text-center
                .service__box-item.w-100.align-items-center.justify-content-center.text-center
                    .item__icon
                        img(src='images/isometric-icons-design-development-min-uai-258x258.png' alt='')
                    h3.item__title.f-r FOR DESIGN &amp; DEVELOPMENT
                    p.item__text.f-r Lead your organization forward by rallying everyone around your new roadmap.
            .col-lg-4.col-md-4.service-box.text-center
                .service__box-item.w-100.align-items-center.justify-content-center.text-center
                    .item__icon
                        img(src='images/isometric-icons-bars-min-uai-258x258.png' alt='')
                    h3.item__title.f-r FOR STATISTICS &amp; ANALYSIS
                    p.item__text.f-r
                        | Consolidate all product ideas and feedback in one place, from colleagues or customers.
            .col-lg-4.col-md-4.service-box.text-center
                .service__box-item.w-100.align-items-center.justify-content-center.text-center
                    .item__icon
                        img(src='images/isometric-icons-puzzle-min-uai-258x258.png' alt='')
                    h3.item__title.f-r FOR YOUR ORGANIZATION
                    p.item__text.f-r
                        | Surface the feature ideas that best address user needs and support your strategy.
