// Start Member
.member.text-center
    .container
        .owl-member.owl-carousel.owl-theme
            .member__leader
                .member__img
                    img(src='images/author-2-min-150x150.jpg' alt='')
                .member__info.text-white.f-q
                    | We were referred from colleagues of ours. Not only have we been amazed at the depth of understanding, we found ourselves working with a team of friends.
                .member__mission.f-q.text-white Fred Moody. CEO, Network Software.
            .member__leader
                .member__img
                    img(src='images/author-1-min-150x150.jpg' alt='')
                .member__info.text-white.f-q
                    | There are design companies, and then there are user experience, design, consulting, interface design, brilliant, and professional. By far one of the worlds best known brands.
                .member__mission.f-q.text-white Leslie Williamson. Business Developer.
            .member__leader
                .member__img
                    img(src='images/author-3-min-150x150.jpg' alt='')
                .member__info.text-white.f-q
                    | We hired to organise our business online, simplify our process, create a brand that communicated to our demographic clearly, and increase our sales. We recommend the team!
                .member__mission.f-q.text-white Anita Tran. IT Solutions.
