extends master.pug

block content
   include ./components/Home/banner.pug
   include ./components/Home/service.pug
   include ./components/Home/about.pug
   include ./components/Home/brand.pug
   include ./components/Home/design.pug
   include ./components/Home/develop.pug
   include ./components/Home/team.pug
   include ./components/Home/price.pug
   include ./components/Home/backtotop.pug
