// Start Footer
.footer.w-100
    .container
        .row
            .col-lg-3.col-sm-3
                h5.footer__head.text-white.f-q Headquarter
                p.footer__text.text-white.f-q
                    | 9876 Design Blvd,
                    br
                    |                   Suite 543, Beverly Hills,
                    br
                    |                   CA 90212
            .col-lg-3.col-sm-3.mg-20
                h5.footer__head.text-white.f-q Customers
                .footer__item
                    a(href='') Customer Care
                    br
                    a(href='') Returns and Refunds
                    br
                    a(href='') Privacy Policy
                    br
                    a(href='') Terms of Use
                    br
                    a(href='') Condition of Sale
            .col-lg-3.col-sm-3
                h5.footer__head.text-white.f-q Services
                .footer__item
                    a(href='') Opening your Account
                    br
                    a(href='') How To Shop
                    br
                    a(href='') Shipping
                    br
                    a(href='') Track your Order
                    br
                    a(href='') Store Locator
            .col-lg-3.col-sm-3
                .footer__icon
                    a.icon-item(href='')
                        i.fab.fa-cc-visa
                    a.icon-item(href='')
                        i.fab.fa-cc-mastercard
                    a.icon-item(href='')
                        i.fab.fa-cc-paypal
                    a.icon-item(href='')
                        i.fab.fa-cc-stripe
.copy
    .container
        .row
            .col-lg-6
                .copy-text.text-white.f-q &copy; 2020 Uncode. All rights reserved
            .col-lg-6
                .copy-icon
                    a.icon-item(href='')
                        i.fab.fa-facebook-f
                    a.icon-item(href='')
                        i.fab.fa-twitter
                    a.icon-item(href='')
                        i.fab.fa-pinterest-p
                    a.icon-item(href='')
                        i.fab.fa-dribbble
                    a.icon-item(href='')
                        i.fab.fa-linkedin-in

